<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->


<div class="main-bg">

  <div class="login-page">

    <div class="container">

      <div class="row justify-content-lg-center login-page-logo">
        <div class="col-lg-6 main-page-maccas-log">
          <%= image_tag "McDonald's_logo.png", class: "mx-auto d-block" %>
        </div>
      </div>

      <div class="row">
        <div class="col justify-content-sm-center">
            <h2 class="text-center animated infinite rubberBand">Log in' it!</h2>
        </div>
      </div>



              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class:"email-field" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", class:"password-field" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>


                <div class="container log-in-section ">
                  <div class="row justify-content-md-center">
                    <div class="col-lg-6">
                      <div class="actions">
                        <%= f.submit "Log in" ,type: "submit", class: "log-in-button btn btn-danger btn-lg" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container sign-up-section">
                  <div class="row justify-content-md-center">
                    <div class="col-lg-6">
                      <%= link_to "Sign up", new_registration_path(resource_name), class: "sign-up-button btn btn-success btn-sm" %><br />
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="container forgot-password-section">
                <div class="row justify-content-md-center">
                  <div class="col-lg-6">
                    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot-password-button badge badge-secondary" %><br />
                  </div>
                </div>
              </div>




    </div> <!-- end container -->

  </div> <!-- end login-page div -->

</div> <!-- end main-bg div -->
