<div class="sign-up-bg">

  <div class="sign-up-page">

    <div class="container">

      <div class="row">
        <div class="col">
          <%= image_tag "McDonald's_logo.png", class: "mx-auto d-block maccas-logo-page" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2 class="sign-up-heading">Sign up</h2>
        </div>
      </div>

      <div class="row justify-content-lg-center sign-up-form">
        <div class="col"></div>
          <div class="col-lg-6 col-md-8 col-sm-12">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class:"form-control" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
              </div>

              <div class="field password-confirmation">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
              </div>

              <!--SIGN UP BUTTON -->
              <div class="row ">
                <div class="col"></div>
                <div class="col-lg-4 col-md-6 col-sm-8 col-8 actions sign-up-button">
                   <%= f.submit "Sign up", class: "btn btn-warning btn-lg form-control text-danger " %><br />
                </div>
                <div class="col"></div>
              </div>

              <!--LOG IN BUTTON  -->
              <div class="row justify-content-md-center">
                <div class="col"></div>
                  <div class="col-lg-4 col-md-6 col-sm-8 col-8 actions login-page-buttons">
                    <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-warning btn-lg form-control text-danger login-page-buttons" %>
                  </div>
                <div class="col"></div>
              </div>

            <% end %>
          </div> <!-- end col -->
        <div class="col"></div>
      </div> <!-- end row -->

    </div> <!-- end container -->

  </div> <!-- end sign-up-page -->

</div> <!-- end sign-up-bg -->
