


  <%= form_with(model: nugget, local: true) do |form| %>
    <% if nugget.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(nugget.errors.count, "error") %> prohibited this nugget from being saved:</h2>

        <ul>
        <% nugget.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="col"></div>
      <div class="col-lg-6 col-md-10 col-sm-12">
        <div class="field new-nugget-message-field">
          <%= form.label :message %>
          <%= form.text_field :message, id: :nugget_message, class: 'form-control', data: { emojiable: true }%>
        </div>
      </div>
    <div class="col"></div>
  </div>

        <div class="row ">
          <div class="col"></div>
            <div class="col-lg-2 col-md-4 col-sm-7 col-8 actions">
            <%= form.submit "Create nugget", class: "btn btn-warning btn-sm form-control text-danger "  %>
            </div>
          <div class="col"></div>
        </div>




<% end %>
